// Place all the styles related to the api/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-container {
    text-decoration: none;
    position: relative;
    height: auto;
    width: 322px;
    // right: 215px;
    z-index: 500;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    flex-shrink: 0;
}
.search-results {
    text-decoration: none;
    position: absolute;
    z-index: 400;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    top: 37px;
    
}
.searchbar {
    border: 1px solid #f3f3f3;
    height: 15px;
    width: 282px;
    background-color: #f3f3f3;
    border-radius: 3px;
    color: rgba(51,51,51,70);
    outline: none;
    margin: 0;
    display: inline-flex;
    padding: 10px 30px 10px 10px;
}

.searchbar:focus {
    box-shadow: 0 0 5px #d7d7d7;
    border: none;
}
.search-result-item {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: white;
    display: inline-flex;
    margin: 0;
    width: 322px;
    height: 58px;
    padding: 1px;
    display: flex;
    .result-image {
        margin: 0;
        display: inline-block;
        height: 66px;
        width: 66px;
    }
    .result-title {
        text-decoration: none;
        font-weight: 700;
        margin: 5px;
    }
    .result-category {
        text-decoration: none;
        margin: 5px;
    }
    .result-artist {
        text-decoration: none;
        margin: 5px;
    }
}
.search-result-item:hover {
    background-color: #DDDDDD;
}
.search-link {
    text-decoration: none;
}