// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album-index {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 1000px;
    width: 800px;
    margin: auto;
    overflow-y: auto;
    .album-index-item {
        display: flex;
        flex-direction: column;
        width: 172px;
        height: 208px;
        margin: 8px;
        align-items: center;
        .album-art {
            display: inline-block;
            height: 172px;
            width: 172px;
        }
        .album-art-container {
            height: 172px;
            width: 172px;
        }
    }
}
.album-title-link {
    font-family: Arial, Helvetica, sans-serif;;
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
    text-decoration: none;
    
}
.album-title-link:hover {
    text-decoration: underline;
}
.album-artist-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.album-show {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    .left-column {
        display: inline-block;
        width: 350px;
        height: 100vh;
        .album-title {
            font: normal 28px/1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #4D3D48;
            margin: 8px 30px 8px 0px;
        }
        .album-artist {
            font: normal 14px/1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #4D3D48;
        }
    }
    .middle-column {
        display: inline-block;
        width: 350px;
        height: 100vh;
        overflow: hidden;
        .album-cover {
            height: 350px;
        }
    }
}
    
