.profile-container {
    background-color: black;
    height: 100vh;
    min-height: 100vh;
}
.profile-body {
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    margin: 0 465px 0;
    position: relative;
}
.profile-banner {
    height: 180px;
    width: 100%;
    margin: 0px;
    border: none;
    position: relative;
    display: flex;
}
.profile-tab-index {
    top: 0px;
    height: 38px;
    background-color: #D5E0E6;
    margin: 0px 0px 45px;
    display:flex;
    padding: 0px 15px;
}
.profile-tab {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    padding: 8px 15px 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-tab:hover {
    border-top: 2px solid;
}
.profile-tab.active {
    border-top: 2px solid;
}
.profile-column {
    text-align: left;
    position: absolute;
    right: 0;
    width: 120px;
    height: 100%;
    margin: 0 21px;
    font-family: Arial, Helvetica, sans-serif;
    .profile-bio {
        height: 314px;
        .profile-image {
            height: 80px;
            width: 100%;
            border: none;
            margin: 0 0 5px;
        }
        #artist-name-location {
            height: 2em;
            word-wrap: break-word;
            margin: 0 0 1em;
            #name {
                font-size: 14px;
                font-weight: bold;
                margin: 5px 0 5px;

            }
            #location {
                color:#B77DC5;
                font-size: 12px;
                margin: 5px 0 5px;
            }

        }
    }
    .artist-description {
        font-size: 12px;
    }
    .profile-links {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 12px;
        list-style: none;
        .profile-link {
            margin: 10px 0 10px;
            text-align: left;
            color: blue;
            text-decoration: none;
        }
    }
}


