.product-index {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.product-index-item {
    display: inline-block;
    width: 168px;
    height: 200px;
    margin: 10px;
}
.product-image {
    display: inline-block;
    height: 126px;
    width: 168px;
    border: 1px solid #F2F2F2;
}
.product-info {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.25em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-name {
    font-weight: bold;
    max-height: 2.5em;
}
.product-category {
    color: #82838C;
    font-size: 12px;
}
.product-price {
    color: #82838C;
    margin-right: 5px;
    font-weight: bold;
}
.product-currency {
    color: #82838C;
    font-size: 11px;
}