.errors-list {
    font-size: 12px;
    color: red;
    list-style: none;
}
.divider {
    height: 0px;
    width: 100%;
    border-top: 2px dotted #ccc;
    margin: 36px 0 28px 0
}
.session-form {
    position: relative;
    height: 500px;
    margin: 30px auto;
    padding: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-header {
    position: relative;
    left: 35px;
    font-size: 18px;
    font-weight: 500;
    top: 10px;
}
.form-footer {
    color: #818285;
    font-size: 12px;
}
#demo-user-link {
    font-size: 12px;
text-decoration: none;
    color: rgb(0,161,198);
}
.session-form-wrapper {
    position: fixed;
    // margin: 0 auto;
    top: 5%;
    left: 25%;
    right: 25%;
    // bottom: 50%;
    // margin-top: -50%;
    // margin-left: -100%;
    text-align: center;
    padding: 50px;
    display: inline-block;
    height: 600px;
    width: 600px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-link {
    text-decoration: none;
    color: rgb(0,161,198);
}
.form-element {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 12px 0px 12px 0px;
    text-align: center;
    input {
        display: inline-block;
        width: 300px;
        height: 36px;
        margin-right: 100px;
        border-width: 1px;
        border: 1px solid #818285;
    }
    select {
        padding: 6px 0px 6px 0px;
        display: inline-block;
        width: 300px;
        height: 36px;
        margin-right: 100px;
        border-width: 1px;
    }
    #submit-button {
        width: 308px;
        height: 36px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: rgb(0,161,198);
        margin-left: 167px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}
.form-label {
    display: inline-block;
    width: 155px;
    font-size: 16px;
    margin-right: 16px;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-container {
    text-align: center;
    margin-left: 60px;
    width: 300px;
}