.splash-header {
    border-style: solid;
    height: 500px;
    width: 100%;
    font-size: x-large;
}
.album-index {
    margin: auto;
    border-style: solid;
    height: 500px;
    width: 60%;
    font-size: x-large;
}