.splash-header {
    height: 500px;
    width: 100%;
    font-size: x-large;
    background-color: rgb(34,34,34);
    margin: 20px 0px 92px 0px;
    .header-content {
        display: flex;
        // flex-direction: row-reverse;
        width: 75%;
        height: 100%;
        margin: auto;
        background-color: white;
        .big-content {
            width: 75%;
            border-right: 1px solid;
        }
        .small-content {
            
            border-left: 1px solid;
            width: 25%;
            height: 100%;
        }
    }
}

.small-content-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.small-content-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 33%;
    width: 100%;
    
}
.small-item-details {
    position: absolute;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    height: 40%;
    vertical-align: bottom;
}
.small-item-title {
    margin: 0px 12px 6px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    max-height: 2em;
    height: 50%;
}
.small-item-subtitle {
    margin: 0px 12px;
    font-size: 10px;
    height: 50%;
}
.small-item-image {
    object-fit: contain;
    width: 100%;
}
.small-content-item:hover {
    // -webkit-filter: blur(3px);
    // -moz-filter: blur(3px); 
    // -o-filter: blur(3px);
    // -ms-filter: blur(3px);
    // filter: blur(3px); 
    opacity: 0.9;

}

.big-content-image {
    object-fit: contain;
    width: 100%;
}
.big-content {
    background: white;
    overflow: hidden;
    position: relative;
}
.big-content-image {
    position: absolute;
}
.big-content:hover {
    opacity: 0.9;
    cursor: pointer;
}
.big-content-details {
    left: 100px;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    z-index: 100;
    height: 158px;
    width: 826px;
    .big-content-title {
        font-size: 32px;
        font-weight: bold;
        height: 37px;
        margin: 0px 0px 10px;
    }
    .big-content-subtitle {
        font-size: 16px;
        height: 37px;
        margin: 6px 0px 20px;
        font-weight: lighter;
    }
    .link-button {
        font-weight: bold;
        padding: 8px 14px 8px 14px;
        color: white;
        background-color: transparent;
        border-radius: 5px;
        border-color: white;
        margin-top: 10px;
    }
}
.album-index-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #408ea3;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}